
.chat_div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh
}

.chat_form {
    justify-content: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 125px;
}